body {
  background-color: #FFFFFF;
  font-size: 14pt;
}

h2 {
  background-color: black;
  color: #FFFFFF;
  border-radius: 15px;

  padding: 13px;
  padding-left: 16px;

  margin-right: 2vw;
  margin-bottom: 2vh;
}

#main-content {
  display: flex;
}

/* Navbar Formatting */
#logo {
  width: 50px;
  height: 45px;
}

.navbar {
  background-color: #F77A36;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.nav-link {
  transition: 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

#login-link {
  margin-left: auto;
}

.login-signup-btn {
  border-radius: 20px;
  font-size: 14pt;
  transition: 0.4s;
  font-weight: 500;
  background-color: black;
}

.btn-primary:hover {
  transition: 0.4s;
}

.btn-outline-success {
  margin-top: 1vh;
}

/* Tab Formatting */

/* Active Tab */
.nav-tabs .nav-link.active {
  background-color: black;
  color: white;
  border-radius: 15px;
}

/* Inactive Tabs */
.nav-tabs .nav-link {
  background-color: #f6f6f6;
  color: #333;
  transition: 0.4s;
}

/* Hover Effect for Tabs */
.nav-tabs .nav-link:hover {
  transition: 0.4s;
}

/* Tab List */
#myTabs {
  border-bottom: none;
  border-radius: 15px;
  font-weight: 500;

  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 2vh;

  max-width: 25vw;
}

.tab-pane {
  padding-top: 2vh;
  width: 75vw;
}

table {
  border: 3px solid black;
}

td {
  padding: 10px;
}

th {
  background-color: #362f4b;
  color: white;
  padding: 10px;
}

table {
  margin-top: 15px;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

#educational-content,
.info-section {
  background-color: #dfdede;
  border-radius: 15px;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edu-img {
  width: 100px;
  height: auto;
}

.page-image {
  width: 600px;
  height: 300px;
  border: 3px solid black;
  margin-bottom: 20px;
}

/*Mobile Styling*/
@media only screen and (max-width: 1000px) {
  body{
    font-size: 12pt;
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
  }

  .nav-link {
    margin-right: 10px;
  }

  #logo {
    width: 45px;
    height: 40px;
  }

  .login-signup-btn {
    font-size: 12pt;
    margin-right: 0px;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #myTabs {
    max-width: 95vw;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    display: none;
  }

  .page-image {
    display: none;
  }

  .tab-pane {
    width: 100vw;
    padding: 20px;
  }

  #educational-content,
  .info-section {
    background-color: #dfdede;
    border-radius: 15px;
  }

  .edu-img {
    width: 200px;
    height: auto;
  }


}