/* Default styles for all screen sizes */
body {
  background-color: #FFFFFF;
  font-size: 14pt;
}

/* Navbar Formatting */
#logo {
  width: 50px;
  height: 45px;
}

.navbar {
  background-color: #F77A36;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

#login-link {
  margin-left: auto;
}

.login-signup-btn {
  border-radius: 20px;
  font-size: 14pt;
  transition: 0.4s;
  font-weight: 500;
}

.btn-primary:hover {
  transition: 0.4s;
}

.btn-outline-success {
  margin-top: 1vh;
}

/* Tab Formatting */

/* Active Tab */
.nav-tabs .nav-link.active {
  background-color: black;
  color: white; 
  border-radius: 15px;
}

/* Inactive Tabs */
.nav-tabs .nav-link {
  background-color: #f6f6f6;
  color: #333; 
  transition: 0.4s;
}

/* Hover Effect for Tabs */
.nav-tabs .nav-link:hover {
  transition: 0.4s;
}

/* Tab List */
#myTabs {
  float: left;
  border-radius: 15px;
  font-weight: 500;
  margin-left: 1vw;
  margin-top: 2vh;
}

.tab-pane {
  padding-top: 2vh;
  padding-left: 16vw;
}

td {
  padding: 10px;
}

th {
  background-color: #362f4b;
  color: white;
  padding: 10px;
}

table {
  margin-top: 15px;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1200px) {
  /* Adjustments for smaller screens */
  .tab-pane {
    padding-left: 25vw;
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 1700px) {
  /* Adjustments for smaller screens */
  .tab-pane {
    padding-left: 20vw;
  }
}