/* Default styles for all screen sizes */
body {
  background-color: #FFFFFF;
  font-size: 14pt;
}

h2{
  background-color: #2aae47 ;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 15px;
  margin-right: 50px;
  margin-bottom: 20px;
}

/* Navbar Formatting */
#logo {
  width: 50px;
  height: 45px;
}

.navbar {
  background-color: #F77A36;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

#login-link {
  margin-left: auto;
}

.login-signup-btn{
  border-radius: 20px;
  font-size: 14pt;
  transition: 0.4s;
  font-weight: 500;
  background-color: black;
}

.btn-primary:hover {
  transition: 0.4s;
}

.btn-outline-success {
  margin-top: 1vh;
}

/* Tab Formatting */

/* Active Tab */
.nav-tabs .nav-link.active {
  background-color: black;
  color: white; 
  border-radius: 15px;
}

/* Inactive Tabs */
.nav-tabs .nav-link {
  background-color: #f6f6f6;
  color: #333; 
  transition: 0.4s;
}

/* Hover Effect for Tabs */
.nav-tabs .nav-link:hover {
  transition: 0.4s;
}

/* Tab List */
#myTabs {
  float: left;
  border-radius: 15px;
  font-weight: 500;
  margin-left: 1vw;
  margin-top: 2vh;
}

.tab-pane {
  padding-top: 2vh;
  padding-left: 16vw;
}

table{
  border: 3px solid black;
}

td {
  padding: 10px;
}

th {
  background-color: #362f4b;
  color: white;
  padding: 10px;
}

table {
  margin-top: 15px;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

#educational-content, .info-section{
  padding: 10px;
  padding-bottom: 0px;
  margin-right: 10vw;
  background-color: wheat;
  border-radius: 5pxrgb(240, 193, 158)
}

.light-yellow{
  background-color: #fdf6c4;
}

.edu-img{
  width: 100px;
  height: auto;
}


/* Media Query for smaller screens */
@media screen and (max-width: 1200px) {
  /* Adjustments for smaller screens */
  .tab-pane {
    padding-left: 25vw;
  }
}

/* Media Query for smaller screens */
@media screen and (max-width: 1700px) {
  /* Adjustments for smaller screens */
  .tab-pane {
    padding-left: 20vw;
  }
}

